---
layout: default
title: Accueil
---

<p class="message">
  Bienvenue sur <abbr title="Électronique Digérateur Science 2000+">ÉDS2k+</abbr> !<br />
  <small>Remarquez la présence discrète d'une barre latérale, accessible depuis le bouton en haut à gauche.</small>
</p>

<h1>Derniers billets</h1>

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h2 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>
    <div class="post-date-author">
      Publié le
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%Y-%m-%d' }}</time>
      par
      <span rel="author">{{ post.author }}</span>
    </div>
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Plus ancien</a>
  {% else %}
    <span class="pagination-item older">Plus ancien</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Plus récent</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Plus récent</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Plus récent</span>
  {% endif %}
</div>

